.page
{
    width: 1503px;
    height: auto;
    /*border-style: groove; */
    background-color: bisque;
}


.header
{
   /* width: 1500px;
    height: 200px;
    border-style: groove;
    background-color:aliceblue;*/

    background-image:url('/static/images/header.jpg');
    height: 165px;
    width: 1500px;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px grey;
    text-align:center;
    font-family:fantasy;
    line-height: 150px;
    text-shadow: 4px 4px 4px black;
    color:antiquewhite;
    font-size: 30px;
}

.links
{
    width: 879 px;
    height: 30px;
    margin-top: 10px;
   /* margin-left: auto;*/
   /* margin-right: auto; */
    background-color: coral;
    border-style:groove;
    border-color:black;
    border-width: thin;
    box-shadow: 3px 3px 3px grey;

}

a
{
    color: antiquewhite;
    text-decoration: none;
    font-size: 22px;
    font-family:sans-serif;
    padding: 0 20px 1px 15px;
    text-shadow: 1px 1px 1px black;
}
a:hover
{
   /* color: red; */
    background-color:brown;
    box-shadow: 2px 2px 2px black;

}


/*-------------- Image and News Updates-----------------*/

.bodypart
{
    margin-top: 5px;
    width: 1500px;
    height: 1780px;


}


.imagepart
{
    margin-top: 5px;
    width: 993px;
    height: 628px;
    background-image: url('/static/images/blood4.jpg');
    box-shadow: 4px 4px 4px grey;
    display: inline-block;
}

.newspart
{
    margin-top: 5px;
    width: 450px;
    height: 628px;
    border-style: groove;
    border-color: black;
    border-width: thin;
    float: right;
    box-shadow: 4px 4px 4px grey;
    background-color:beige;
}

.newspart h2
{
    margin-left: 10px;
    font-size: 30px;
    text-decoration: underline;

}

.news
{
    width: 440px;
    height: 530px;
    margin-left: 10px;
}

.news p
{
    font-size: 30px;
    font-family:sans-serif;
    color: green;
}


/*----------------- Blood Compatibility info & Chart ---------*/

.info
{
    margin-top: 100px;
    width: 860px;
    height: 400px;
    background-color: beige;
    display: inline-block;
    box-shadow: 3px 3px 3px grey;
}

.info p
{
    font-size: 23px;
    font-family:sans-serif;
    color: black;
    margin-left: 7px;
    text-shadow: 1px 1px 1px grey;
}

.info h1
{
    font-size: 50px;
    text-shadow: 4px 4px 4px grey;
    margin-left: 7px;
}

hr
{
    margin-top: 10px;
    height: 2px;
    background: black;

}

.chart
{
    margin-top: 100px;
    width: 600px;
    height: 400px;
    background-image: url('/static/images/chart.jpg');
    box-shadow: 3px 3px 3px grey;
    float: right;
}
