{% extends "bank/base.html" %}


{% block body_block %}
<!-- Navigation -->
<nav class="navbar navbar-inverse fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'index' %}" class="navbar-brand">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Become a Blood Donor.
                <small>Save lives.</small>
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4" id="why">
                <img class="card-img-top" src="{% static “images/blood_use.png” %}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Why should you donate blood?</h2>
                    <p class="card-text">We maintain a regular supply of all blood types to ensure the right blood is available to everyone who needs it. We need enough of the right types of blood to meet day-to-day patient needs and to cope with emergencies.</p>
                    <!--a href="#" class="btn btn-primary">Read More &rarr;</a-->
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://https://unsplash.com/photos/LxPrHCm8-TI" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Types of Blood</h2>
                    <p class="card-text">There are eight main blood types but some are rarer than others. The list below shows the percentage
                        of donors with each blood type:
                        <br>
                        <ul>
                            <li>O positive: 35%</li>
                            <li> O negative: 13%</li>
                            <li> A positive: 30%</li>
                            <li> A negative: 8%</li>
                            <li> B positive: 8%</li>
                            <li> B negative: 2%</li>
                            <li> AB positive: 2%</li>
                            <li> AB negative: 1%</li>

                        </ul>
                    </p>
                    <!--a href="#" class="btn btn-primary">Read More &rarr;</a-->
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="../blood_used.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">How is your blood used?</h2>
                    <p class="card-text">Donated blood or components are given to a patient in a blood transfusion. Blood transfusions are
                        given via an intravenous line into a blood vessel.</p>
                     <!--a href="#" class="btn btn-primary">Read More &rarr;</a-->
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">


            
            </div-->

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Register to become a blood donor</h5>
                <div class="card-body">
                   <a href="{% url 'bank:register' %}" class="btn btn-primary">Register </a>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->


{% endblock %}
