{% extends 'bank/base.html' %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="jumbotron">
  <h2>Hey you are logged in as {{user.username}}  <span class="glyphicon glyphicon-exclamation-sign" ></span></h2>
  <h5>Want to <a href="{% url 'logout' %}">sign out</a>?</h5>
</div>
{% else %}
<div class="jumbotron">
  <h1>Welcome to the Login Page</h1>
  <h5>Login to Continue...</h5>
<br>
  <form action="{% url 'bank:user_login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">UserName:</label>
        <input id="username" name="username" type="text" class="form-control"  placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password"  name="password" type="password" class="form-control"  placeholder="Password">
    </div>
    <!-- <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

</div>
{% endif %}


{% endblock %}
