{% extends 'bank/base.html' %}


{% block body_block%}


<div class="card">
  <div class="card-header">
    <h3>REQUESTS:</h3>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"> <h3>Need Urgent O+ve Blood</h3> <h5>User1</h5></div>
    <div class="panel-body">
      <p class="card-text">Hi! I am a resident of Bangalore and I urgently need O+ve blood for my son who is ailing from Leukemia.</p>
      <a href="#" class="btn btn-primary">Contact Patient</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"> <h3>Need Urgent O-ve Blood</h3> <h5>User2</h5></div>
    <div class="panel-body">
      <p class="card-text">Hi! I am a resident of Bangalore and I urgently need O+ve blood for my son who is ailing from Leukemia.</p>
      <a href="#" class="btn btn-primary">Contact Patient</a>
    </div>
  </div>


</div>
{% endblock %}
